# Python
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Environments
.env
.env.*

# Editors
.vscode/
.idea/

# Test / build
.pytest_cache/
.coverage

# Distribution / packaging
build/
dist/
.eggs/
*.egg-info/
